<%  p = simple_page_version %>

Version: <%= p.version %> | <%= link_to 'Edit', simple_edit_page_path(:id => p, :version => p.version) %>
  <%= link_to p.title, simple_page_path(:id => p, :version => p.version) %>